<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button  color="danger" (click)="cerrarSesion()"><ion-label>Cerrar<br>sesion</ion-label><ion-icon name="log-out"></ion-icon></ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-button (click)="irAtras()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>

    </ion-buttons>

    <ion-title align="center">La comanda</ion-title>

</ion-toolbar>
</ion-header>



<div class="content">
  
<div  class="formulario">

  <img class="img" src="../../../../assets/imagenes/logo.png" width="130px" height="100px">

<ion-item class="input">
  <ion-label  >Número de Mesa:</ion-label>
  <ion-input  clear-input="true" type="number" name="numero" [(ngModel)]="numero"></ion-input>
</ion-item>

<ion-item class="input">
  <ion-label >Cantidad de Comensales:</ion-label>
  <ion-input clear-input="true" type="number" name="comensales" [(ngModel)]="comensales" ></ion-input>
</ion-item>

<ion-item class="input">
  <ion-label>Foto:</ion-label>
  <ion-button shape="round" fill="outline" expand="block" (click)="tomarFoto()" color="dark">Tomar foto</ion-button>
  <div *ngIf="this.foto">
    <img src={{this.foto}} width="60px" height="38px">
  </div>
</ion-item>

<ion-item class="button">
    <ion-button class="btn-limpiar" type="reset" shape="round" fill="outline" expand="block" (click)="limpiarForm()" color="danger">Limpiar</ion-button>
    <ion-button class="btn-registrar" shape="round" fill="outline" expand="block" (click)="darDeAlta()" color="success">Registrar</ion-button>
</ion-item>

</div>
</div>